/*********************/
/* Colors*/
/*black: #000000
grey: #666666
white: #FFFFFF
pink: #ED2C92*/
/*********************/

/*********************/
/* BASIC */
/*********************/
html {
	position: relative;
	min-height: 100%;
}
body {
	font-family: "Century Gothic", "Gill Sans", Arial, sans-serif;
	margin-bottom: 60px;
	font-size: 1.3rem;
	letter-spacing: 1px;
	padding-top: 50px;
	padding-bottom: 20px;
}
body > .container-fluid{
	padding: 51px 15px 0;
}

a{
	color: dimgray;
}
a:focus, a:hover{
	color: #ED2C92;
	text-decoration: none;
}
/*********************/
/* MAIN */
/*********************/

.logo {
	width: 50%;
	height: 50%;
}
.no-margin-top{
	margin-top: 0;
}
.pd-15{
	padding: 15px;
}

/*********************/
/*CONTACT PAGE*/
/*********************/

/*********************/
/* PORTFOLIO PAGE*/
/*********************/
.gallerybtn {
	width: 100px;
	height: 200px;
	display: block;
	margin: 10px auto;
	border-bottom-color: #000000;
	color: #000000;
	border-bottom-width: medium;
	border-bottom: solid;
}
#ibtn:hover {
	background-image: url('../images/i.png');
}

#ibtn {
	background-image: url('../images/iroll.png');
}
#logobtn:hover {
	background-image: url('../images/logo.png');
}

#logobtn {
	background-image: url('../images/logoroll.png');
}
#webbtn:hover {
	background-image: url('../images/wd.png');
}

#webbtn {
	background-image: url('../images/wdroll.png');
}
#gdbtn:hover {
	background-image: url('../images/gd.png');
}
#gdbtn {
	background-image: url('../images/gdroll.png');
}
#mobilebtn:hover {
	background-image: url('../images/m.png');
}
#mobilebtn {
	background-image: url('../images/mroll.png');
}
#motionbtn:hover {
	background-image: url('../images/motion.png');
}
#motionbtn {
	background-image: url('../images/motionroll.png');
}
#artbtn:hover {
	background-image: url('../images/art.png');
}
#artbtn {
	background-image: url('../images/artroll.png');
}
#photobtn:hover {
	background-image: url('../images/photo.png');
}
#photobtn {
	background-image: url('../images/photoroll.png');
}
#portfolio {
	display: block;
	position: relative;
	top: -50px;
	visibility: hidden;
}
/*********************/
/* BANNER STYLES */
/*********************/


/*********************/
/* MAIN NAV */
/*********************/
.navbar-white {
	background-color: white;
	border-color: #e7e7e7;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover{
	color: #ED2C92;
}
.navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
	color: #ED2C92;
	background-color: #ffffff;
}
.navbar-inverse .navbar-toggle{
	background-color: #333333;
}
.navbar-brand{
	height: auto;
}
.navbar-inverse .navbar-nav>.active>a,.active>a:focus, .navbar-inverse .navbar-nav{
	color: #080808;
	background-color: transparent;
}
/*********************/
/* FOOTER */
/*********************/
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 51px;
	background-color: #222;
	border-color: #080808;
}
.container .text-muted{
	margin: 15px 0;
}
/*responsive*/

